<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Mualliflar Sahifasi</h3>
    <ul id="list-authors"></ul>
    <script src="./js/script.js"></script>
    <script>
        getAuthors()
    </script>
    
</body>
</html>